<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carrot.repository.LocationRepository">
    <select id="selectInit" resultType="com.carrot.domain.LocationVO">
        select distinct loc1 from LOCATION order by loc1
    </select>

    <select id="selectByLoc1" resultType="com.carrot.domain.LocationVO" parameterType="com.carrot.domain.LocationVO">
        select distinct loc2 from LOCATION
        <where>
            <if test="loc1 == null">
                loc1 = ''
            </if>
            <if test="loc1 != null">
                loc1 = #{loc1}
            </if>
        </where>
        order by loc2
    </select>

    <select id="selectByLoc2" resultType="com.carrot.domain.LocationVO" parameterType="com.carrot.domain.LocationVO">
        select distinct loc3 from LOCATION
        <where>
            <if test="loc1 == null">
                loc1 = ''
            </if>
            <if test="loc1 != null">
                loc1 = #{loc1}
            </if>
            <if test="loc2 == null">
                and loc2 = ''
            </if>
            <if test="loc2 != null">
                and loc2 = #{loc2}
            </if>
        </where>
        order by loc3
    </select>
</mapper>