<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.repository.TownPostRepository">

<select id="listBySearch" parameterType="com.carrot.domain.SearchVO" resultType="com.carrot.domain.TownPostVO" >
	select * from town_post
	     <where>
            <if test="category_id != 0">
                category_id = #{category_id} 
            </if>
            <if test="loc1 != null">
                and loc1 = #{loc1}
            </if>
            <if test="loc2 != null">
                and loc2 = #{loc2}
            </if>
            <if test="loc3 != null">
                and loc3 = #{loc3}
            </if>
            <if test="title != title">
            	and title LIKE '%${title}%' 
            </if>
        </where>
        order by id desc
</select>

<insert id="insertPost" parameterType="com.carrot.domain.TownPostVO">
	insert into town_post ( id, title, content, writer, read_cnt, reply_cnt, loc1, loc2, loc3, created_at, category_id )
	values ( town_post_id.nextval, #{title}, #{content}, #{writer}, 0, 0, #{loc1}, #{loc2}, #{loc3}, #{created_at}, #{category_id} )
</insert>

<select id="detailPost" resultType="com.carrot.domain.TownPostVO">
	select * from town_post where id = #{id}
</select>

<update id="readCount">
	update town_post set read_cnt = read_cnt + 1 where id = #{id}
</update>

<update id="updatePost" parameterType="com.carrot.domain.TownPostVO">
	update town_post set  title = #{title}, content=#{content} where id = #{id}
</update>

<delete id="deletePost">
	delete from town_post where id=#{id}
</delete>

<insert id="insertReply" parameterType="com.carrot.domain.ReplyVO" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
	insert into reply (id, town_post_id, parent, content, created_at, writer, nickname )
	values ( reply_id.nextval, #{townPostId}, #{parent}, #{content}, #{created_at}, #{writer}, #{nickname} )
</insert>

<update id="updateReplyCount">
	update town_post set reply_cnt = #{replycnt} where id = #{id}
</update>

<select id="replList" resultType="com.carrot.domain.ReplyVO">
	select id, TOWN_POST_ID as townPostId, PARENT, CONTENT, CREATED_AT, WRITER, NICKNAME from reply where town_post_id=#{id} order by id asc
</select>

<delete id="deleteReply">
	delete from reply where id=#{id}
</delete>

<delete id="deleteReReply">
	delete from reply where parent=#{parent}
</delete>

<delete id="deleteAllReply">
	delete from reply where town_post_id=#{postid}
</delete>

<delete id="withdrawPost">
	delete from town_post where writer=#{writer}
</delete>
<delete id="withdrawReply">
	delete from reply where writer={writer}
</delete>

</mapper>