@charset "UTF-8";

body {
	min-height: 100vh;
	
	background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
	background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
	background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
}

.input-form {
	max-width: 610px;
	
	margin-top: 80px;
	padding: 50px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.btn-custom{
	--bs-btn-padding-y: 0.35rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.0rem;
  --bs-btn-border-radius: 0.5rem;
  margin-left: 12px;
}

#btn-emailCheck{
	--bs-btn-padding-x: 0.8rem;
}

.button-row, .register-row{
	display: flex;
 	justify-content: flex-end;
}

.loc-row{
    --bs-gutter-x: 0.7rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

#btn-myLoc{
		--bs-btn-padding-y: 0.35rem;
  --bs-btn-padding-x: 0.3rem;
  --bs-btn-font-size: 1.0rem;
  --bs-btn-border-radius: 0.5rem;
}
