@charset "UTF-8";

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#F8ECE0),
    to(#F5D0A9));
  background: -webkit-linear-gradient(bottom left, #F8ECE0 0%, #F5D0A9 100%);
  background: -moz-linear-gradient(bottom left, #F8ECE0 0%, #F5D0A9 100%);
  background: -o-linear-gradient(bottom left, #F8ECE0 0%, #F5D0A9 100%);
  background: linear-gradient(to top right, #F8ECE0 0%, #F5D0A9 100%);
}
 
.input-form {
  max-width: 610px;
  margin-top: 80px;
  padding: 50px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.btn-custom { 
  --bs-btn-padding-y: 0.35rem;
  --bs-btn-padding-x: 1rem; 
  --bs-btn-border-radius: 0.5rem;
  margin-left: 12px;
}

.orange-btn {
    background-color: #fd7e14;
    color: #fff !important;
}

.orange-btn:hover,
.orange-btn:active {
    background-color: #fd7e14 !important;
    color: #fff !important;
}

#btn-emailCheck { -
  -bs-btn-padding-x: 0.8rem;
}

.button-row, .register-row {
  display: flex;
  justify-content: flex-end;
}

.loc-row { 
  --bs-gutter-x: 0.7rem; 

}

#btn-myLoc { 
  --bs-btn-padding-y: 0.35rem; 
  --bs-btn-padding-x: 0.3rem; 
  --bs-btn-border-radius: 0.5rem;
}

.modal-text {
  width: 250px;
}

#modal-text-email {
  background-color: #80808021;
}

#custom-modal-row {
  display: flex;
  justify-content: space-around;
}
.btn-cancel{
  background-color: #8c8c8c! important;
  color: #f9f9f9!important
}

div.idModal_label {
  width: 20%;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

div.input {
  display: flex;
  gap: 10px;
  width: 80%;
}

.idModal_input {
  width: 80% !important;
}
.input-row-hidden {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-left: 15px;
  align-items: center;
  font-size: 12px;
  color: red;
}
.input-row {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 12px;
  align-items: center;
}
